# Директория с бинарными файлами
bin/


# Файлы с расширением .exe
*.exe

# Файлы настроек IDE
.idea/
*.vscode/

# Файлы с секретами, например, .env
.env

# Файлы с отладочной информацией
*.log

# Файлы с тестовыми данными
testdata/