# Директория с бинарными файлами
bin/

# Директория с пакетами
pkg/

# Директория с зависимостями
vendor/

# Файлы с расширением .exe
*.exe

# Файлы с расширением .so
*.so

# Файлы с расширением .a
*.a

# Файлы настроек IDE
.idea/
*.vscode/

# Файлы с секретами, например, .env
.env

# Файлы с отладочной информацией
*.log

# Файл с настройками базы данных
config.db

# Файлы с тестовыми данными
testdata/